.left-sidebar{
    width: 164px;
    box-shadow: 1px 1px 0 rgba(0,0,0, 0.2);
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
    transform: translateZ(0);
    box-sizing: border-box;
    font-size: 13px;
}

.side-nav{
    height: auto;
    max-width: 100%;
    position: sticky;
    margin: 50px 0px;
    padding: 20px 0px;
}

.side-nav-div{
    padding: 10px 0px;

}

.side-nav-div div{
    padding-left: 10px;
}

.side-nav-links{
    text-decoration: none;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    transition: 0.2s;
}

.side-nav-links:hover{
    color: black;
}

.active{
    font-weight: bolder;
    color: black;
    background-color: rgb(225, 225, 225);
    border-right: solid 3px #ef8236;
}

@media only screen and (max-width: 600px) {
  
     .hide-side{
        display: none;
    }
    .when-open{
        /* position: sticky;
        left:-164px;
        top:0;
        
        height: 0;  */
        display: none;
        opacity: 0;
        -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
        transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    }
   }
   @media only screen and (min-width: 992px) {
     
 
 }
 @media only screen and (min-width: 600px) and (max-width:992px) {
    /* .left-sidebar{
        display: none;
    } */
 }